{
  "plugins": [
    "stylelint-prettier"
  ],
  "processors": [
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended"
  ],
  "rules": {
      "color-hex-case": "lower",
      "string-quotes": "single",
      "unit-case": "lower",
      "color-no-invalid-hex": true,
      "unit-no-unknown": true,
      "property-no-unknown": true,
      "block-no-empty": null
  }
}